torch>=2.11.0
sympy>=1.14.0
z3-solver>=4.16.0.0
cvc5>=1.3.3
clifford>=1.5.1
geomstats>=2.8.0
e3nn>=0.6.0
rustworkx>=0.17.1
xgi>=0.10.1
TopoNetX>=0.4.0
gudhi>=3.12.0
torch-geometric>=2.7.0
matplotlib>=3.10.0
pandas>=3.0.0
networkx>=3.6
